/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.main-img{
  /* background-image: url(/src/assets/img/home1.jpg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bobo {
  height: 35px;
}

.logo{
  height: 35px;
}

.nav-space{
  height: 100px;
}

.card-custom{
  max-height: 320px;

  transition: all .2s ease-in-out;
}

.card-custom:hover{
  transform: scale(1.02);
  box-shadow: 0px 0px 20px 5px rgba(240,240,240,0.7);
}

.bg-custom-light-grey{
  background-color: rgb(253, 253, 253);
}

.recherche-bien{
  position:sticky;
  top: 150px;
}

.carousel-custom{
  height: 500px;
}

/* .blurr{
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.144);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
}

.index_deux{
  z-index: 2;
} */

.img-custom{
  height: 500px;
  background-image: url(/src/assets/img/home1.jpg);
  background-position: center;
}

#map { height: 180px; }